* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
}

.set-container {
  flex: 1;
  padding: 20px;
  border: 10px solid #14a76c;
}

.grid-container {
  height: 100vh;
  width: calc(1.5 * 100vh);
  border: 1px solid #14a76c;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.grid-item {
  border: 0.2px solid #199161;
  user-select: none;
}

.grid-item:hover {
  background-color: rgba(102, 51, 153, 0.7) !important;
}